html, body{
    margin: 0;
    background-color: black;
}

.navbar-brand{
    font-family: Futura;
    color: whitesmoke;
}
.navbar-brand:hover{
    color:#DC4301 !important;
}

.navbar{
    background-color: black;
    padding-bottom: 2px;
}

#navbarNav{
    font-family: Futura;
}
.nav-link:hover{
    color: whitesmoke !important;
} 
.wrapper{
    background-color: black; 

}
.container{
    background-color: black;
    color: whitesmoke;
    margin-top: 10rem;


}
.row{
    padding-top: 5rem;
    padding-bottom: 5px;

}

#block{
    /* border: 2px solid #DC4301; */
    padding: 5px 5px 5px 5px;
    background-color: #2F2F30;
    border-radius: 5px;
    /* width: 0rem; */
    height: 20rem;
}

#block:hover{
    border: 2px solid #DC4301;
}

p{
    color: whitesmoke;
    font-family: Futura;
    text-align: center;
}

.icon{
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
.LOC-icon{
    display: block;
    width: 20%;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

#languages{
    color: #DC4301;
    font-size: 11px;
}

#information{
    font-size: 14px;
    text-align: left;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}