html, body{
    margin: 0;
    background-color: black;
}

.navbar-brand{
    font-family: Futura;
    color: whitesmoke;
}
.navbar-brand:hover{
    color:#DC4301 !important;
}

.navbar{
    background-color: black;
    padding-bottom: 2px;
}

#navbarNav{
    font-family: Futura;
}
.nav-link:hover{
    color: whitesmoke !important;
}
.wrapper{
    padding-top: 0 px;
    background-color: black; 
}

.container{
    background-color: black;
    color: whitesmoke;
    margin-top: 10rem;

}

#block{

    width: 25%;
    border: 1px solid #DC4301;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px; 
}

p{
    color: whitesmoke;
    font-family: Garamond;
}