
body{
    background-color: blanchedalmond;
    color: black;
    margin-block-start: 0;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    background-color: black;
}

.nav ul{
    margin: 0;
    display: inline;
}
.nav a{
    color: white;
    font-family: "Garamond";
    font-size: 32px;
}

a{
    text-decoration: none;
}

div{
    display: flex;
}

.sub-heading{
    font-weight: bold;
    margin-left: 10px;
}

p{
    margin-left: 10px;
}

