html, body{
    margin: 0;
    background-color: black;
}

.navbar-brand{
    font-family: Futura;
    color: whitesmoke;
}
.navbar-brand:hover{
    color:#00A6A6 !important;
}

.navbar{
    background-color: black;
    padding-bottom: 2px;
}

#navbarNav{
    font-family: Futura;
}
.nav-link:hover{
    color: whitesmoke !important;
}
.wrapper{
    padding-top: 0 px;
    background-color: black; 
}
#section{
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: white;
}
hr{
    border-color:white;
    background-color: #00A6A6;
    width: 15%;
}
#languages{
    font-style: italic;
}

#link{
    color: whitesmoke;
}

#link:hover{
    color: #00A6A6;
}

iframe{
    display:block;
    border-style:none;
    margin: 0 auto;
    align-self: center;
}
/* img{
    border-radius: 50%;
} */


/* .sub-heading{
    text-align: center;
    
    font-weight: bold;
    margin-left: 10px;
}

p{
    margin-left: 10px;
}

h2{
    text-align: center;
    margin: 10px;
}

h1{
    text-align: center;
    margin: 10px;
} */

